nav {
    background: #ffffff;
    position: absolute;
    border-bottom: 1px solid #cccccc;
    
}

.fa-google {
    font-size: 36px;
}

.navbar-brand {
    color: #797979 !important;
    font-size: 50px;
    text-transform: none !important;
    font-family: 'East Sea Dokdo', cursive;
    letter-spacing: 1px;
}

.navbar-brand:hover {
    color: #cccccc;
}

.nav-link {
    color: #828282 !important;
}

nav .nav-link:hover {
    color: #3e3e3e !important;
}

.navbar-toggler-icon {
    color: #4769d7;
}
