nav {
    background: #28a6af;
    position: absolute;
    border-bottom: 1px solid #cccccc;
    position: absolute;
}

.fa-google {
    font-size: 36px;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 50px;
    text-transform: none !important;
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
}

.navbar-brand:hover {
    color: #e9e9e9 !important;
}

.nav-link {
    color: #ffffff !important;
}

nav .nav-link:hover {
    color: #ebebeb !important;
}

.navbar-toggler-icon {
    color: #4769d7;
}

.dashboardText {
    color:#242424 !important;
}
