.locationBtn:hover {
    color: #28a6af;
}

.categoryCol {
    background: #ebebeb;
    padding: 10px;
}

.myJobsCatCol {
    background: #ebebeb;
    padding: 10px;
}

.myMessagesCatCol {
    background: #ebebeb;
    padding: 10px; 
}

.catBtns:hover {
    color: #28a6af;
}

.myJobsBtn:hover {
    color: #28a6af;
}

.mailboxBtn:hover {
    color: #28a6af;
}

.fas {
    color: #28a6af; 
}

.aboutText {
    line-height: 1.5;
    font-size: 18px;
}

.landingRow {
    min-height: 300px;
}

.landingText{
    margin-top: 100px;
}
.employrPic {
    background-image: url("../images/girlBoss.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.moneyPic {
    background-image: url("../images/moneyGirl.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutTitle {
    font-size: 36px;
    margin-top: 100px !important;
}

.aboutContainer {
    margin-bottom: 100px;
}

.titleHighlight {
    color: #28a6af;
}

.signUPBtn {
    background: #28a6af;
}

#sentMessage {
    position:fixed;
    background: #28a6af7b;
    left: 50%;
    z-index:100;
    padding: 20px;
}

#loginMessage {
    position:fixed;
    background: #e442427b;
    /* left: 50%; */
    z-index:100;
    padding: 20px;
}

#savedProfileMessage {
    position:fixed;
    background: #28a6af7b;
    top: 100;
    right: 25%;
    z-index:100;
    padding: 20px;
}

.glowBorder {
    border: 2px solid #d2ca5e;
}

.imageCropper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #28a6af;
}

.profilePic {
    display: inline;
    margin: 0 auto;
    /* margin-left: -25%;  */
    height: 100%;
    width: auto;
}

.profileInput {
    margin: 0 auto !important;
}

.profileUploadBtn {
    margin: 0 auto;
    background: #28a6af;
}

/* ========== Media Query =========== */
/* smart phone width */
@media screen and (max-width: 425px){
    #savedProfileMessage {
        position:fixed;
        background: #28a6af7b;
        top: 20;
        right: 25%;
        z-index:100;
        padding: 20px;
    }
}