.card {
    overflow: scroll;
}

.card img {
    max-width: 50%;
}

.card-header {
 border: none !important
}

.titleBtn {
    border: 2px solid #28a6af;
}

#messageEmployr {
    background: #28a6af !important;
}

.card-img-top {
    min-width: 100%;
}

.list-group-item {
    background: #eaffe3;
}

.searchResultsHeader {
    color: #6c6c6c;
}

.modal {
    z-index: 20000;
}

.popupNameBtn {
    margin-left: -10px;
  }
  
  #offer {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #28a6af !important;
  }

