.card {
    overflow: scroll;

}
.list-group-item {
   background: #85c1c7a1 !important;
}

.card img {
    max-width: 50%;
}

.card-img-top {
    min-width: 100%;
}

.deleteBtn {
    font-size: 30px;
    color: #d37c7c;
}

.statusCompleted {
    font-size: 24px;
    color: #649852;
}

.statusIncomplete {
    font-size: 24px;
    color: #d37c7c;
}

.offer {
    font-size: 24px;
}

.cardSubmitButton {
    background: #28a6af;
    color: #ffffff;
}

