.card {
    overflow: scroll;

}
.list-group-item {
   background: #85c1c7a1 !important;
}

.card img {
    max-width: 50%;
}

.card-img-top {
    min-width: 100%;
}

.deleteBtn {
    font-size: 30px;
    color: #d37c7c;
}

.statusCompleted {
    font-size: 24px;
    color: #649852;
}

.statusIncomplete {
    font-size: 24px;
    color: #d37c7c;
}

.offer {
    font-size: 24px;
}

.cardSubmitButton {
    background: #28a6af;
    color: #ffffff;
}

.modal-header {
    border-bottom: 2px solid #28a6af;
}

.imageCropperDash {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #28a6af;
}

.profilePicDash {
    display: inline;
    margin: 0 auto;
    margin-left: 0px;
    border-radius: 50%;
    height: auto;
    width: 50%;
}


